<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<!-- { % feed_meta % } not working, thus we create the feed link manually -->
<link type="application/atom+xml" rel="alternate" href="{{ site.baseurl }}/feed.xml" title="{{ site.title }}" />
<!-- - -->
<link href="{{ site.baseurl }}/img/fav.png" rel="shortcut icon">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" />
<link href="//rawgit.com/MozMorris/tomorrow-pygments/master/css/tomorrow_night.css" rel="stylesheet" />
<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" />
<!-- - -->
<script src="//platform.twitter.com/widgets.js" id="twitter-wjs" async></script>
{% if site.google_analytics %}{% include ga.html %}{% endif %}
