<meta charset="utf8">
<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
<!-- - -->
<link href="/img/fav.png" rel="shortcut icon">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css" />
<link href="//rawgit.com/MozMorris/tomorrow-pygments/master/css/tomorrow_night.css" rel="stylesheet" type="text/css" />
<link href="/css/normalize.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/responsive.css" rel="stylesheet" type="text/css" />
<!-- - -->
<script src="//platform.twitter.com/widgets.js" id="twitter-wjs" async></script>
{% if site.google_analytics %}{% include ga.html %}{% endif %}
